.button{
    cursor: pointer;
    background-color: #fd596f;
    color: white;
    font-family: 'ubuntu';
font-size: larger;
padding: 8pt;
padding-left: 20pt;
padding-right: 20pt;
border-style: none;
    box-shadow: 0px 1px 19px 0px #fd596f;
// border-radius: 12px;
}