<div class="home">
  <section id="head">
    <h1>
      Unlock Your Potential with
      <span style="color: rgb(255, 0, 179)">Knowledge</span> <br />Learn
      Anytime, Anywhere with Us!
    </h1>
  </section>
  <section id="course">
    <h2>Select form the wide range of course available here</h2>
    <cn-hero-button [label]="'Explore Now'" (onClick)="handleClick()"></cn-hero-button>
  </section>
  <section id="virtual">
    <h3>Virtual Course</h3>
  </section>
  <section id="instructor">
    <h3>Instructor</h3>
  </section>
  <section id="affilate">
    <h3>Affilate</h3>
  </section>
  <section id="review">
    <h2>Reviews from industry leaders</h2>
  </section>
  <section id="clients">
    <h2>Reputed clients</h2>
  </section>
  <section id="contact">
    <h2>Explore Course</h2>
  </section>
</div>
